* {
  box-sizing: border-box;
}

body {
  display: block;
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

.body {
  font-family: Montserrat, sans-serif;
}
.overall-page {
  padding-top: 95px;
}

/* Hero Section */
.contact-hero,
.hero-section {
  position: relative;
  display: flex;
  height: 100vh;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-image: linear-gradient(
      135deg,
      rgba(30, 33, 33, 0.82) 1%,
      rgba(32, 32, 32, 0.14) 98%
    ),
    url("https://uploads-ssl.webflow.com/5d2e9319dd9e6ad17959c310/5d3981ef040fc80b4adf0626_jaromir-kavan-dBi88gu1WXI-unsplash-ultralow.jpg");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}
.contact-hero {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("https://uploads-ssl.webflow.com/5d2e9319dd9e6ad17959c310/5d3ec8d29c45e526b428d276_samuel-zeller-1ebCdUwiarg-unsplash-low.jpg");
  position: relative;
  height: 354px;
  padding-top: 125px;
  background-position: 0px 0px, 100% 100%;
  background-size: auto, contain;
  text-align: center;
}
.hero-heading {
  margin-bottom: 14px;
  color: #fff;
  font-size: 50px;
  line-height: 51px;
  font-weight: 500;
  letter-spacing: 2px;
}
.contact-heading {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 50px;
  line-height: 60px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
  margin: 0.67em 0;
}
.hero-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.contact-container {
  display: block;
  width: 1100px;
  max-width: 100%;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}
.hero-subheading {
  margin-bottom: 30px;
  color: hsla(0, 0%, 100%, 0.63);
  font-size: 18px;
  font-weight: 300;
}
.button {
  padding: 12px 31px;
  border-radius: 0px;
  background-color: #1d1f2d;
  color: #fff;
  font-weight: 300;
  display: inline-block;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}
.button:hover {
  background-color: #fff;
  color: #000;
}

/* Welcome Section */

.container {
  justify-content: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  width: 100%;
  max-width: 70vw;
  margin-top: 85px;
  margin-right: auto;
  margin-left: auto;
}

.main-heading {
  margin-bottom: 50px;
  font-size: 1.5rem;
}

.sub-heading {
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.h-rule {
  height: 1px;
  background-color: #eee;
}

.layout-grid {
  display: grid;
}

.main-paragraph {
  margin-top: 50px;
  margin-bottom: 150px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-areas: ". .";
  grid-template-rows: auto;
}

.main-paragraph {
  opacity: 0.6;
  font-size: 14px;
  line-height: 26px;
  text-align: justify;
  letter-spacing: 0px;
  text-transform: none;
}

.main-paragraph p {
  margin-top: 0;
  margin-bottom: 10px;
}

/* featured products */

.featured-products {
  padding-right: 17px;
  padding-bottom: 89px;
  padding-left: 15px;
  top: 30rem;
  width: 100%;
}
.product-page-featured {
  padding: 2rem 3rem 2rem 3rem;
  width: 100%;
}

.product-list {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.row-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.row-product img {
  height: 10rem;
  width: 13rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}

.product-name {
  height: 21rem;
  width: 19rem;
  margin: 1rem;
  padding: 1rem;
  border: solid rgba(116, 114, 114, 0.308) 0.01rem;
  border-radius: 1rem;
}
.product-name:hover {
  box-shadow: rgb(0 0 0 / 9%) 0px 0px 0px 1px, rgb(0 0 0 / 9%) 0px 2px 23px 0px;
}
.product-name a {
  text-decoration: none;
}
.product-detail {
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  border-top: solid rgb(146, 144, 144) 0.01rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.left-sided {
  color: black;
}
.category-tag {
  display: inline-block;
  margin-top: 6px;
  margin-right: 6px;
  padding: 9px;
  border-radius: 2px;
  background-color: #12680c;
  color: #fff;
  font-size: 12px;
  line-height: 10px;
  font-weight: 400;
  text-transform: uppercase;
}
.view-detail {
  background-color: RGB(29, 31, 44);
  color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 4px;
}

.item-name {
  font-size: 1rem;
}
.view-detail:hover {
  color: #dedede;
}
.company-name {
  margin-bottom: 0.2rem;
  margin-top: 1rem;
  font-weight: 550;
}
.section-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1008px;
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.section-container .section-row {
  margin-left: 9px;
  margin-right: 48px;
}

.section-title,
.client-logos-section-title {
  margin-top: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 300;
  letter-spacing: 2px;
}
.product-heading-section {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  text-transform: none;
}

.title-divider,
.section-breaker {
  display: block;
  width: 20%;
  height: 1px;
  margin: 16px auto;
  background-color: #dedede;
  list-style-type: lower-alpha;
}

/* Client Logos Section */

.client-logos {
  padding-right: 15px;
  padding-bottom: 89px;
  padding-left: 15px;
}

.client-logos-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.client-logos-section-heading {
  text-align: center;
}

.client-logos-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.brands-image {
  display: block;
  width: 100%;
  height: auto;
  margin: -57px;
  padding: 0px;
  opacity: 0.49;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

#kirloskar-logo,
#ojus-power-logo,
#jain-logo,
#greaves-logo,
#kisan-kraft-logo,
#espa-logo {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

.section-heading {
  text-align: center;
}
/* Section: Contact */
#contact {
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 100px 70px 100px 50px;
}

#contact .contact-form {
  padding: 25px;
}
.m-heading {
  margin: 0.75rem;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
}

#contact .contact-form .form-group {
  margin: 0.75rem;
}

#contact .contact-form label {
  display: block;
  margin: 40px 0px 12px 0px;
  font-weight: bold;
  display: block;
  font-size: 14px;
}
#contact .contact-form textarea {
  height: 200px;
  padding: 12px 25px;
}

#contact .contact-form input,
#contact .contact-form textarea,
.btn-dark {
  width: 100%;
  font-size: 13px;
  font-family: Montserrat, sans-serif;
  border: solid #eee 0.5px;
  border-radius: 0px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
}
#contact .contact-form input {
  padding: 12px 25px;
}
.btn-dark {
  width: 100%;
  height: 50px;
  margin-top: 25px;
  background-color: black !important;
  color: white !important;
  cursor: pointer;
  text-transform: uppercase !important;
}
.btn-dark:hover {
  background-color: #32343a !important;
  color: #fff !important;
}

#contact .contact-form {
  padding: 45px 50px 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #eee;
  width: 70%;
}
.detail-wrap {
  margin-bottom: 30px;
}
.label {
  margin-top: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.contact-email-link {
  margin-bottom: 5px;
  opacity: 0.6;
  color: #333;
}
.paragraph-light {
  margin-bottom: 10px;
  opacity: 0.6;
  line-height: 25px;
  text-align: justify;
}
.contact-map {
  margin: 30px;
  margin-bottom: 100px;
}

/* Sub-Footer */

.footer-container {
  position: relative;
  display: block;
  margin-top: 0px;
  border-top: 1px solid #ebebeb;
  background-color: hsla(0, 0%, 85.9%, 0.1);
  color: #333;
  opacity: 0.9;
  line-height: 24px;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  padding-top: 6rem;
  margin-bottom: 4rem;
}

.footer-flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%;
  gap: 4rem;
  flex-wrap: wrap;
}

.footer-flex-items > div {
  padding: 1rem 6rem;
}

/* Main Footer */

.main-footer-container {
  display: block;
  margin-top: 80px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-top: 1px solid #ebebeb;
  background-color: hsla(0, 0%, 85.9%, 0.1);
}

.main-footer {
  position: relative;
  z-index: 1;
  display: block;
  width: 1170px;
  height: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
  color: #fff;
  text-align: center;
  display: block;
  color: rgba(0, 0, 0, 0.43);
  font-size: 12px;
  letter-spacing: 0px;
}

.main-footer-heading {
  display: inline-block;
  padding-left: 1px;
  font-size: 12px;
  line-height: 22px;
  font-weight: 500;
  text-align: right;
  margin-bottom: 0.7rem;
}

.main-footer-heading a {
  margin-right: 2px;
  margin-left: 2px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  color: #000;
  text-decoration: none;
  background-color: transparent;
}

.main-footer-text {
  display: block;
  color: rgba(0, 0, 0, 0.43);
  font-size: 12px;
  letter-spacing: 0px;
}

.footer-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.8 rem;
  padding: 0.8rem 0.8rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-social-icons {
  display: block;
  width: 2rem;
  height: 2rem;
  margin-right: 0.3rem;
  margin-left: 0.3rem;
  padding: 0.44rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: #0472ba;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  line-height: 18px;
}

.image-4 {
  background-color: transparent;
  color: rgba(204, 128, 128, 0.43);
}

/* Media query for 767px */

@media (max-width: 767px) {
  .hero-section {
    height: 440px;
    padding-top: 0px;
  }
  .hero-content {
    text-align: center;
  }

  .main-paragraph {
    margin-bottom: 75px;
    grid-row-gap: 30px;
    grid-template-areas: "." ".";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .container {
    align-items: center;
    width: 90%;
  }
  .h-rule {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .footer-flex-items > div {
    padding: 4rem 4rem;
  }

  .footer-flex-items {
    gap: 0;
    flex-wrap: wrap;
  }
}
/* Media query for 479px */
@media (max-width: 479px) {
  .hero-section {
    height: 89vh;
    padding-top: 0px;
    padding-right: 21px;
    padding-left: 21px;
  }
  .hero-content {
    text-align: center;
  }

  .main-heading {
    text-align: center;
    line-height: 1.5;
  }

  .layout-grid {
    display: block;
  }

  .footer-flex-items {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .footer-flex-items > div {
    padding: 2rem 4rem;
  }

  .footer-heading-text {
    width: 80%;
  }

  .client-logos-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .brands-image {
    margin: -100px -100px;
    padding-top: 1rem;
  }
}

@media (max-width: 991px) {
  .hero-container {
    max-width: 728px;
  }

  .main-heading {
    margin-bottom: 10px;
  }
  .h-rule {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  .main-paragraph p {
    margin-bottom: 30px;
  }
  .footer-flex-items {
    gap: 0;
    flex-wrap: wrap;
  }
  #contact {
    text-align: center;
    margin: 0;
    justify-content: center;
  }
  #contact .contact-form {
    margin: 70px;
  }
  .paragraph-light {
    text-align: center;
  }
  #contact .contact-form label {
    text-align: left;
  }
}

/* Utilities */

.grid {
  align-items: center;
  width: 100%;
  height: auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
